<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} Review Analyzer</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    
    <form style="margin: auto; width: 220px;" mclass="form-inline" action="{{ url_for('processing') }}">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select</span>
            <input list="datasets" name="data" method="GET" action="/"/>
            <datalist id="datasets">
            <option value="{{data[0]}}" >{{data[0]}}</option>
                {% for item in data[1:] %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </datalist>
        </div>
        <button type="submit" class="btn btn-default">Analyze!</button>
    </div>
    </form>
    <div>      
        {% if table %}
            {{table | safe}}
        {% endif %}
    </div>
    </body>
    </html>